.base-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background-image: url("../../../image/intro-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
    form {
        box-shadow: 1px 0px 10px 4px #888888;
        
        margin-top: 150px;
        padding: 20px;
        background-color: white;
    }

    .registerlink {
        margin-left: 5px;
    }

    .header {
        font-size: 30px;
        margin-bottom: 20px;
        color: rgb(0, 0, 0);
        text-align: center;
    }

    img {
        width: 150px;
        margin-top: -190px;
        margin-left: 100px;

    }

    .form_group {
        display: flex;
        flex-direction: column;
        margin-left: 15px;

        .label {
            margin-top: 4px;
            font-size: 18px;
        }

        .input {
            margin-top: 4px;
            margin-left: 3px;
            width: 15rem;
            height: 37px;
            padding: 0px 10px;
            font-size: 16px;
            font-family: "Open Sans", sans-serif;
            background-color: #e0e0e0;
            border: 0;

        }
    }

    nav a{
        text-decoration: none;
        font-size: 30px;
        font-weight: bold;
        color: rgb(72, 72, 72);
    }

    .footer {
        margin-top: 2em;

        .btn {
            font-family: "Raleway", sans-serif;
            text-transform: uppercase;
            color: #fff;
            background-color: #5ca9fb;
            background-image: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
            padding: 14px 34px;
            letter-spacing: 1px;
            font-size: 15px;
            border-radius: 25px;
            border: 0;
            margin: 0 auto;
            margin-left: 5rem;
            transition: all 0.5s linear;
            text-decoration: none;
        }


    }


}