.loader-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 7777777777;
  top: 0%;
  background: rgba($color: #000000, $alpha: 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
